.income.list__item {
  border: 1px solid #558052;
}
.income .list__amount {
  color: #558052;
}
.expense.list__item {
  border: 1px solid #8e1010;
}
.expense .list__amount {
  color: #8e1010;
}
.list__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
  padding: 11px 19px;
  font-style: normal;
  line-height: normal;
  max-width: 570px;
}
.list__left,
.list__right {
  display: flex;
  align-items: center;
}
.list__category,
.list__amount {
  margin-right: 23px;
}
.list__category {
  color: #3e3e3e;
  font-size: 24px;
  font-weight: 400;
}
.list__date {
  color: #a6a2a2;
  font-size: 18px;
  font-weight: 500;
}
.list__amount {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 0px;
  transition: 0.4s linear;
}
.list__actions {
  visibility: hidden;
  border-radius: 0px 4px 4px 0px;
  position: absolute;
  right: -100px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  transition: 0.4s linear;
}
.list__actions button {
  height: 100%;
  z-index: 100;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  padding: 0px 11px;
  color: white;
  cursor: pointer;
  transition: 1.8 linear;
}
.list__delete {
  background: #8e1010;
}
.list__open {
  background: #558052;
}
.list__actions svg {
  font-size: 18px;
}
.list__item:hover .list__actions {
  visibility: visible;
  right: 0px;
}
/* .list__item:hover .list__actions button {
  visibility: visible;
  right: 0px;
} */
.list__item:hover .list__amount {
  right: 80px;
}
