.income.list__item {
  border: 1px solid #558052;
}
.income .list__amount {
  color: #558052;
}
.expense.list__item {
  border: 1px solid #8e1010;
}
.expense .list__amount {
  color: #8e1010;
}
.list__item {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
  padding: 13px 19px;
  font-style: normal;
  line-height: normal;
  max-width: 570px;
}
.list__left,
.list__right {
  display: flex;
}
.list__category,
.list__amount {
  margin-right: 23px;
}
.list__category {
  color: #3e3e3e;
  font-size: 18px;
  font-weight: 500;
}
.list__date {
  color: #a6a2a2;
  font-size: 18px;
  font-weight: 500;
}
.list__amount {
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 0px;
  transition: 0.4s linear;
}

.list__delete {
  visibility: hidden;
  cursor: pointer;
  position: absolute;
  border-radius: 0px 4px 4px 0px;
  background: #8e1010;
  padding: 0px 11px;
  height: 100%;
  right: -20px;
  top: 0;
  display: flex;
  border: none;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.4s linear;
}
.list__item:hover .list__delete {
  visibility: visible;
  right: 0px;
}
.list__item:hover .list__amount {
  right: 40px;
}
