.user__base {
  display: flex;
  margin-top: 10px;
}
.user__logo {
  margin-right: 30px;
  width: 200px;
  height: 200px;
  background-color: #558052;
  color: white;
  border-radius: 155px;
  position: relative;
  cursor: pointer;
}
.user__logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 155px;
}
.user__logo .change__logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 155px;
  justify-content: center;
  background-color: rgba(85, 128, 82, 0.7);
  align-items: center;
  font-size: 32px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.7s ease;
  /* display: none; */
}
.user__logo:hover .change__logo {
  opacity: 1;
}
.change__logo.active {
  opacity: 1;
}
.logo__input {
  display: none;
}
.user__info {
  width: calc(100% - 200px);
}
.user__username {
  font-size: 22px;
  margin-bottom: 10px;
}
.user__currency {
  margin: 10px 0px;
  display: none;
  font-size: 20px;
}

.chose__currency {
  font-size: 18px;
  margin-left: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #1976d2;
  padding: 5px 0px 5px 10px;
  width: fit-content;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.currency__icon {
  font-size: 14px;
}

.user__category {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
  position: relative;
  z-index: 11;
}
.category__list {
  display: flex;
  justify-content: space-between;
}
.category__block {
  width: 49%;
  position: relative;
}
.category__border {
  width: 2px;
  height: 150px;
  background-color: black;
}
.category__block:nth-child(1) {
  padding-right: 15px;
}
.category__block:nth-child(3) {
  padding-left: 15px;
}
.user__category-title {
  font-size: 20px;
  margin-bottom: 8px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 15;
}
.user__category-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user__category-action div {
  cursor: pointer;
}
.category__add {
  margin-right: 20px;
}

.collaps__categories {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s linear;
}
.collaps__categories.active {
  transform: rotate(-180deg);
}

.collaps__icon {
  width: 100%;
  font-size: 22px;
}
.category__item {
  margin-bottom: 5px;
}
.list__categories {
  visibility: hidden;
}
.list__categories.active {
  visibility: visible;
}
.expense__categories .list__category {
  color: #8e1010;
}

.income__categories .list__category {
  color: #558052;
}
.add-category {
  position: absolute;
  top: -100px;
  left: 15px;
  width: 95%;
  background-color: #fff;
  padding: 20px 20px;
  border-radius: 5px;
  z-index: 0;
  transition: 0.5s linear;
  visibility: hidden;
}
.add__expense-category {
  border: 1px solid #8e1010;
}
.add__income-category {
  border: 1px solid #558052;
  left: -0px;
}
.add-category.active {
  top: 30px;
  visibility: visible;
  z-index: 10;
}

.category-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.input__category {
  width: 100%;
  padding: 10px 0px;
  padding-left: 10px;
  font-size: 20px;
  margin-bottom: 20px;
}
.input__category::placeholder {
  font-weight: 600;
  color: black;
}