.login__page {
  display: flex;
  height: 100vh;
}
.login__left {
  width: 50%;
  height: 100%;
  /* background-image: url("../images/login__img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}
.login__left img {
  width: 100%;
  height: 100%;
}
.login__layout {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1e1e1e;
}
.login__block {
  width: 24%;
  min-width: 410px;
}
.login__title {
  text-align: center;
  padding: 0px;
  padding-bottom: 15px;
  color: #fffde7;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 40%;
  display: flex;
}
.login__login {
  margin-right: 20px;
}
.login__registration {
  margin-left: 20px;
}
.login__tab {
  cursor: pointer;
  position: relative;
}
.login__tab::after {
  content: " ";
  position: absolute;
  bottom: -5px;
  left: -5px;
  z-index: 100;
  width: 0px;
  height: 1px;
  background-color: #fffde7;
  transition: 0.3s linear;
}
.active.login__tab::after {
  width: calc(100% + 10px);
}
.login__form {
  padding-bottom: 30px;
  /* background-color: antiquewhite; */
  text-align: center;
}
.login__page input {
  outline: none;
  margin: 0;
  margin-top: 15px;
  font-size: 20px;
  background-color: #fffde7;
  width: 100%;
  border-radius: 5px;
  padding: 15px 0px;
  padding-left: 10px;
}
.form__login {
}

.form__btn {
  /* text-align: end; */
  /* margin-right: 10%; */
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.error__text {
  /* font-size: 22px; */
  visibility: hidden;
  width: fit-content;
  /* margin-right: 15px; */
  background-color: #fff;
  padding: 10px 10px;
  color: red;
  cursor: default;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none;
}
.error__text.active {
  visibility: visible;
}

@media (max-width: 1000px) {
  .login__left {
    display: none;
  }
  .login__layout {
    width: 100%;
    padding: 0px 20px;
  }
  .login__block {
    min-width: 10px;
    width: 100%;
    max-width: 410px;
  }
}
@media (max-width: 500px) {
  .login__title {
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    font-size: 16px;
  }
  .login__tab {
    /* max-width: 100px;
    overflow: hidden; */
  }
}
