input,
label,
select {
  vertical-align: middle;
}
textarea {
  vertical-align: top;
}
button {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
input[disabled] {
  cursor: default;
}
* {
  box-sizing: border-box;
}
.none {
  display: none !important;
}
.main__layout {
  height: 100vh;
  background: linear-gradient(#ffff, #d9effa);
}

.main {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 5px;
}
